<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}WebCron{% endblock title %}
    </title>
    <link rel='stylesheet' type='text/css' href='/static/style.css' />
    {% block head %}{% endblock head %}
  </head>
  <body>
    <div class="header">
      <h1>WebCron</h1>
      <b>{{ users.get_current_user.email }}</b>
      <br/>
      {% block buttons %}
        <a href='/stats'>Stats</a> |
        <a href='/add'>Add new</a>
      {% endblock buttons %}
    </div>

    <div class='content'>
      {% block body %}
        Nothing to show :(
      {% endblock body %}
    </div>

    <div class="footer">
      Server / UTC time : {% now "jS M Y H:i:s" %}
    </div>
  </body>
</html>
