{% extends "base.html"%}

{% block title %}
Main :: {{block.super}}
{% endblock title %}

{% block body %}
  {% if rows %}
  <table border=0 cellpadding=6 cellspacing=0>
    <thead>
      <tr>
        <td colspan=2>name</td>
        <td>method</td>
        <td>url</td>
        <td>minute(s)</td>
        <td>hour(s)</td>
        <td>weekday(s)</td>
        <td>last run</td>
        <td>modified at</td>
        <td>created</td>
        <td colspan=4>action</td>
      </tr>
    </thead>
  {% for row in rows %}
    <tr class="{% cycle 'even' 'odd' %} {{ row.active|yesno:"active,deactive" }}">
      <td class="status">&nbsp;</td>
      <td>
        {{ row.name|escape }}
      </td>
      <td>
        {{ row.method }}
        {% if row.response_email %}<br>(+email){% endif%}
        {% if row.response_post %}<br>(+post){% endif%}
      </td>
      <td>
        {{ row.url|urlizetrunc:40 }}
      </td>
      <td>
        {{ row.minutes|join:', ' }}
      </td>
      <td>
        {{ row.hours|join:', ' }}
      </td>
      <td>
        {% for xid, xwday in allweekdays %}
          {% for weekday in row.weekdays %}
            {% if xid == weekday %}
              {{ xwday }}
            {% endif %}
          {% endfor%}
        {% endfor%}
      </td>
      <td>
        {{row.lastrun|date:"d/M H:i:s"}}
      </td>
      <td>
        {{row.modified|date:"d/M H:i:s"}}
      </td>
      <td>
        {{row.created|date:"d/M H:i:s"}}
      </td>
      <td>
        <a href='/run/{{row.key.id}}'>Run</a>
      </td>
      <td>
        <a href='/edit/{{row.key.id}}'>Edit</a>
      </td>
      <td>
        <a href='/toggle/{{row.key.id}}'>
          {{ row.active|yesno:"OFF,ON" }}
        </a>
      </td>
      <td>
        <a href='/delete/{{row.key.id}}'>Delete</a>
      </td>
    </tr>
  {% endfor %}
  </table>
  {% else %}
    0 cronjobs! Click <a href='/add'>here</a> to add one
  {% endif %}
{% endblock body %}
