{% extends "base.html"%}

{% block title %}
Main :: {{block.super}}
{% endblock title %}

{% block body %}
  {% if rows %}
  <table border=0 cellpadding=6 cellspacing=0>
    <thead>
      <tr>
        <td colspan=2>name</td>
        <td>method</td>
        <td>hour(s)</td>
        <td>minute(s)</td>
        <td>weekday(s)</td>
        <td>last run</td>
        <td>modified at</td>
        <td>created</td>
        <td colspan=4>action</td>
      </tr>
    </thead>
  {% for row in rows %}
    <tr class="{% cycle 'even' 'odd' %} {{ row.active|yesno:"active,deactive" }}">
      <td class="status">&nbsp;</td>
      <td>
        {{ row.name|escape }}
      </td>
      <td>
        {{ row.method }}&nbsp;{{ row.url|urlizetrunc:40 }}
        {% if row.response_email %}<br>(+email){% endif%}
        {% if row.response_post %}<br>(+post){% endif%}
      </td>
      <td>
        {% if row.hours|length < 24 %}
          {{ row.hours|join:', ' }}
        {% else %} every hour {% endif%}
      </td>
      <td>
        {% if row.minutes|length < allminutes|length %}
          {{ row.minutes|join:', ' }}
        {% else %} every minute {% endif%}
      </td>
      <td>
        {% if row.weekdays|join:'' == '56' %}
          weekends
        {% else %}

          {% if row.weekdays|join:'' == '01234' %}
            weekdays
          {% else %}
            {% if row.weekdays|length < 7 %}
              {% for xid, xwday in allweekdays %}
                {% for weekday in row.weekdays %}
                  {% if xid == weekday %}
                    {{ xwday }}
                  {% endif %}
                {% endfor%}
              {% endfor%}
            {% else %} everyday {% endif%}
          {% endif %}
        {% endif %}

      </td>
      <td>
        {{row.lastrun|date:"d/M H:i:s"}}
      </td>
      <td>
        {{row.modified|date:"d/M H:i:s"}}
      </td>
      <td>
        {{row.created|date:"d/M H:i:s"}}
      </td>
      <td>
        <a href='/run/{{row.key.id}}'>Run</a>
      </td>
      <td>
        <a href='/edit/{{row.key.id}}'>Edit</a>
      </td>
      <td>
        <a href='/toggle/{{row.key.id}}'>
          {{ row.active|yesno:"OFF,ON" }}
        </a>
      </td>
      <td>
        <a href='/delete/{{row.key.id}}'>Delete</a>
      </td>
    </tr>
  {% endfor %}
  </table>
  {% else %}
    0 cronjobs! Click <a href='/add'>here</a> to add one
  {% endif %}
{% endblock body %}
