body{
  background-color: #E7EAEF;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 12px;
  color: #000;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #BD3232;
}

.content{
  font-size: 1.2em;
  margin: 10px 50px 10px 50px;
}

.header {
  background-color: #F5F5F5;
  margin: 20px 0px 40px 0px;
  padding: 10px 50px 10px 50px;
}

.footer {
  font-size: 0.9em;
  text-align: right;
  padding: 30px 50px 10px 50px;
}

.element {
  line-height: 30px;
}

.element a {
  text-decoration: none;
  color: #0000BD;
}

.element .label {
  display: inline-block;
  width: 130px;
  text-align: right;
  vertical-align: top;
}

input.text {
  border: 1px solid #9ABC29;
  padding: 4px;
  font-size: 1em;
  font-weight: bold;
  background-color: #D3E792;
}

thead td {
  background-color: #8FB2E0;
  font-weight: bold;
}

.hidden {
  display: none;
}

.odd td {
  background-color: #DBE6F5;
}

.even td {
  background-color: #C5D7EF;
}

.deactive td, .deactive a {
  color: #999;
}


.deactive td.status {
  border-left: 6px solid red;
}

.active td.status {
  border-left: 6px solid green;
}
